body {
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    text-align: center;
    justify-content: center;
    display: flex;
    max-width: 100%;
}
i{
    font-size: 15pt;
}
footer{
    background-color: #c700ac00;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-top: -10px;
}
#btnAdd , #btnDeleteAll{
    background: #ca00af;
    color: rgb(255, 255, 255);
    border: none;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;
    display: inline-block;
}
#btnDeleteAll:hover{
    background-color: white;
    color: rgb(0, 157, 236);
    transform: scale(1.1);
}
#btnAdd:hover{
    background-color: white;
    color: rgb(0, 236, 130);
    transform: scale(1.1);
}
#container {

    border-radius: 50px;
    background: #f7f7f7;
    box-shadow: 5px 5px 50px 5px #d2d2d2;
    max-width: 100%;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 80px;
}
#newDiv{
    background-color: #c700ad;
    width: 70%;
    height: 20px;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    color:#ffffff;
    font-size: 14pt;
    padding: 10px;
}
#newDiv::placeholder{
    color: whitesmoke;
}
#btnRemove{
    background: #58004c;
    color: white;
    border: none;
    margin-left: 15px;
    width: 40px;
    display: inline-block;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    transition: 0.3s;
    text-align: center;
}
#btnRemove:hover{
    background: #b60000;
    color: white;
    transform: scale(1.1);
    transition: 0.2s;
}
#textSquare{
    background-color: #58004c00;
    height: 380px;
    width: 95%;
    margin: 0 auto;
}
#pTest{
    text-align: center;
    color: #ca00af;
    font-size: 14pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}